.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(../background-web.jpg) no-repeat center / cover;
}

.loginCard {
  background: rgba(0,0,0,0.5);
  width: 20rem;
  margin-left: 560px;
  margin-top: 160px;
  padding: 18px;
  border-radius: 10px;
}

.loginTitle {
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.formInput {
  height: 60px;
  width: 282px;
  margin-top: 5px;
}

.textAdditional {
  display: flex;
  flex-direction: row;
  color: white;
  column-gap: 60px;
  font-size: 13px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.textLink {
  /* text-decoration: none; */
  color: white;
}

.loginButton {
  width: 285px;
  height: 50px;
  font-weight: bold;
}

.border {
  border: 0.873968px solid white;
  width: 285px; 
  height: 0;
  opacity: 0.5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loginButtonGoogle {
  background: red;
  width: 285px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.footerLogin {
  color: white;
  font-size: 15px;
  padding-left: 12px;
}

.textLinkFooter {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.copyrightLogin {
  color: grey;
  font-size: 13px;
  margin-top: 20px;
  padding-left: 100px;
}