/* font */
/* h1 */
body {
  overflow-x: hidden;
  background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url("./asset/backgroundweb.jpg");
}
 .body-text {
  font-family : 'Open Sans', sans-serif;
  font-size : 18px;
  font-style: normal;
  letter-spacing: 0.1rem;
}
 .logo {
  width: 80px;
  padding: 20px;
}
 a{
  text-decoration: none;
}
.link-arrow {
  color: #4f1e86;

}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
 li {
    list-style: none;
    float: left;
  }
 .btn-play {
  background: linear-gradient(194.68deg, #4f1e86 11.27%, #906299 90.4%);
  color: white;
  width: 60%
}
.btn-play:hover {
  background: linear-gradient(194.68deg, #4f1e86 11.27%, #906299);
}
.btn {
    padding : 12px 24px;
    border-radius : 4px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
  }
.btn-wrapper {
  padding-top: 50px;
}

/* layar besar */
@media (min-width: 1200px) {
      .main {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100vh;
          width: 100%;
        }
        .header-title-info {
          padding: 100px 0 30px 0;
          font-family : 'Bebas Neue', cursive;
          font-size : 80px;
          font-weight: bold;
          font-style: normal;
          letter-spacing: 0.3rem;
        }
        .story-link {
          position : absolute;
          bottom   : 0;
          right: 0;
          left: 0;
          text-align: center;
        }
        .cardBody {
          margin: auto;
          border-radius: 10px;
        }
        .card-container {
            margin: 30px;
            border-radius: 20px;
        }
        /* .carousel-image {
          padding-top: 100px;
          padding-right: 100px;
          padding-left: 50px;
        } */
        .headfoto {
          width: 80%;
        }
        .subtitle-info {
          padding-top: 10px;
          font-family : 'Open Sans', sans-serif;
          font-size : 18px;
          font-style: normal;
        }
        .subtitle-text {
          font-family: 'Bebas Neue', cursive;
          font-weight: bold;
          font-size: 40px;
        }
        .header-ctg {
          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
          font-weight: bold;
          font-size: 20px;
        }
        
        .page-2 {
          padding-left: 90px;
          padding-right: 90px;
        }
        .foto {
          width: 100%;
        }
        .bi-star-fill {
          color: rgb(240, 204, 2);
          padding-right: 5px;
        }
        .review-count {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 15px;
        }

        .page-3 {
          padding-left: 90px;
          padding-right: 90px;
          padding-top: 30px;
        }
        .game-link {
          text-decoration: none;
          color: black;
        }
        .game-link:hover {
          color: #4f1e86;
        }

        footer {
          padding-left: 90px;
          padding-right: 90px;
          padding-top: 30px;
          padding-bottom: 20px;
        }
        .footer-text {
          font-family: 'Bebas Neue', cursive;
          font-weight: bold;
          font-size: 30px;
        }
        
    }

/* layar kecil */
@media (max-width: 992px) {
  .main {
      background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url("layar.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
  }
  .header-title-info {
    font-family : 'Bebas Neue', cursive;
    font-size : 80px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.3rem;
  }
  .story-link {
      position : absolute;
      bottom   : 0;
      right: 0;
      left: 0;
      text-align: center;       
    }
.page-2 {
  background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url("hutan.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.carousel-image {
  padding-top: 50px;
}
/* h3 */
.subtitle-info {
  padding-top: 10px;
  font-family : 'Bebas Neue', cursive;
  font-size : 24px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.1rem;
  text-align: center;
}
.subtitle-text {
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}
.page-3 {
  background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("orang.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.feature-text {
  padding-top: 50px;
  padding-left: 100px;
}
.page-4 {
  background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("bangunan.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
  /* padding-left: 50px; */
}
.page-5 {
  background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("topscore.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.cardBody {
  margin: 10px;
}
.page-6 {
  background: #080A0B;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.footer {
  background: #080A0B;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 20px;
}
.body-text {
  font-family : 'Open Sans', sans-serif;
  font-size : 18px;
  font-style: normal;
  letter-spacing: 0.1rem;
  text-align: center;
}
 }
nav {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-right: 90px;
  padding-left: 90px;
}
/* .nav-style{
  box-shadow: #08090A;
} */
.text-rightlist {
  padding-top: 100px;
}
.subtitle-page3 {
  color: #FFB548;
  padding-left: 50px;
  margin-top: -50px;
 
}
.sub-subtitletext {
  padding-left: 50px;
}
.subtitle-page4 {
  padding-top: 50px;
  text-align: center;
}
.tableReq-text {
  color: #FFB548;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 10px;
}
 .avaPhoto {
  width : 50px;
  height: 50px;
}
.card-title {
  color: #FFB548;
}
 hr {
  border: 0;
  border-top: 3px solid rgba(255, 255, 255, 0.3);
}
.CATEGORIES {
    color:white ;
    text-align: center;
}
.bagkiri {
    padding-top: 50px;
}
.GAMELIST {
    padding-top: 20px;
    text-align: center;
}
.top-content {
    padding-top: 200px;
}

.mySlides {
    width: 80%;
    padding-top:100px;
}
/* .carousel {
  margin: 1.5rem;
} */
.carousel-inner {
  height: auto;
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}
.img-car {
  height: 70%;
  width: 30%;
}